body{
    background: linear-gradient(to right,  #2F3B7E,#3785E6,  #3785E6, #2657D0);
    margin: 0px;
    height: 100vh;
    height: 100dvh;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* BOTTON TO SCROLL*/
#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; 
    right: 30px;
    z-index: 9; 
    border: none;
    background: linear-gradient(to bottom, rgb(161, 0, 0), red);
    color: white;
    cursor: pointer;
    padding: 15px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 14px; /* Increase font size */
}
#scrollToTopBtn:hover {
    background: linear-gradient(to bottom, rgb(161, 0, 0), rgb(209, 0, 0));
    color: rgb(189, 189, 189);
}



/* STYLES OF THE NAV */
nav{
    background: linear-gradient(to right, rgb(0, 0, 0), blue);
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.logo img{
    height: 100%;
    margin: 10px;
    margin-left: 25px;
}

.logo a{
    color: white;
    font-size: 28px;
    font-weight: 600;
    visibility: hidden;
}

.menu{
    margin: auto;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    display: none;
    flex-direction: column;
    text-align: center;
}
.menu li a{
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin: 7px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.menu li a:hover{
    border-radius: 7px;
    color: rgb(66, 66, 66);
    text-shadow: 0 0 10px rgb(67, 171, 255);
}
.menu li a:active {
    border-color: red;
}


.menu > li{float: left;}
.menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 10px;
    color: white;
    font-size: 30px;
}
@media (min-width: 800px) {
    .logo a{
        visibility: visible;
    }
    .brand a img{
        width: 120px;
        height: 100px;
    }
    .menu {
        display: flex;
        flex-direction: row;
    }
    .menu-icon {display: none}
}

main{
    padding-top: 40px;
    width: 96%;
    height: auto;
    margin-left: 15px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
main div p{
    color: red;
}
main div img{
    width: 100%;
}
main div div{
    margin-top: 60px;
    background-color: white;
    width: 100%;
    height: 1px;
}